<?xml version="1.0"?>
<!--
/**
 * @author    Aurélien Jourquin <aurelien@growzup.com>
 * @link      http://www.ajourquin.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config\Source\ListSort">
        <plugin name="ajourquin_add_config_product_sort_source_option" type="Ajourquin\CustomProductSorting\Plugin\Catalog\Model\Config\Source\ListSort" />
    </type>

    <type name="\Magento\Catalog\Model\Category\Attribute\Source\Sortby">
        <plugin name="ajourquin_add_category_product_sort_source_option" type="Ajourquin\CustomProductSorting\Plugin\Catalog\Model\Category\Attribute\Source\Sortby" />
    </type>
</config>